body{
	font-family:Arial,Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	padding:0;
	margin:0;

}

.image{
	background:url('parking.jpg') no-repeat;
	padding-bottom:200px;
	background-size:100%;
}
.container{
	margin:auto;
	width:80%;
	overflow:hidden;
}

ul{
	margin:0;
	padding:0;
}
header{
	color:white;
	/*background-color:#f77e05;*/
}
header a{
	text-decoration:none;
	color:white;
	font-size:16px;
	width:bold;
}

header li{
	list-style:none;

	float:left;
	display:inline;
	
	/*border:2px white solid;*/
	padding:10px;
	padding-top:20px;

}



header #branding{
	float:left;
}

header #branding h1{
	margin-top:20px;
	/*border-bottom:2px white solid;*/
	padding:2px;
	padding-top:0px;
	padding-bottom:0px;
}

header nav{
	float:right;
	margin:20px;
}

header .current a{
	color:orange;
}

header a:hover{
	color:blue;
	font-weight:bold;
}

.showcase {
	text-align:center;
	margin-top:120px;
	padding:20px;
}

.showcase h1{
	font-size:55px;
	color:white;
}

.showcase a{
	text-decoration:none;
	color:white;
	padding:20px;
	font-size:20px;
}

.showcase a:hover{
	width:100%;
	color:black;
}
.showcase li{
	display:inline;
	border:white 2px solid;
	padding:20px;
}

/* services */
.services header{
	text-align:center;
	background-color:white;
	color:grey;
	padding:20px;
}

.inline .separate{
	float:left;
	width:30%;
	text-align:center;
	margin-left:30px;
}

.separate p{
	width:70%;
	text-align:center;
	margin-left:60px;
}

